.container{
  max-width:1100px;
  margin:0 auto;
  padding:40px 20px;
}
.hero{
  background:#fff;
  border-radius:18px;
  padding:20px;
  box-shadow:0 6px 22px rgba(0,0,0,0.08);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:14px;
}
.hero h2{
  color: #1a73e8;
}
.hero p{
  color:#555;
  font-size:16px;
  line-height:1.6;
  max-width:750px;
}
.hero a{
  text-decoration: none;
  border: 1px solid;
  width:25% ;
  padding: 10px 40px;
  background-color: #1a73e8;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.hero a:hover{
  background:#1558b0;
}
.grid{
  margin-top:28px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}
.card{
  background:#fff;
  padding:22px;
  border-radius:16px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
  transition:0.2s;
}
.card:hover{
  transform:translateY(-3px);
}
.card h3{
  font-size:18px;
  margin-bottom:10px;
}
.card p{
  color:#555;
  font-size:14px;
  line-height:1.6;
}
