h2{
    color:#1a73e8;
    margin:0 0 15px 0;
    text-align:center;
    padding-top:10px;
    
  }
  .card{
    width:360px;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 6px 20px rgba(0,0,0,0.12);
    margin-left:37%;
    margin-top:40px;
  }
  p{
    text-align:center;
    color:#666;
    font-size:14px;
    margin-bottom:20px;
  }
  label{
    font-weight:700;
    font-size:14px;
    display:block;
    margin:10px 0 6px;
  }
  input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:14px;
  }
  input:focus{
    border-color:#1a73e8;
  }
  .btn{
    width:100%;
    margin-top:18px;
    padding:12px;
    background:#1a73e8;
    border:none;
    color:white;
    font-weight:800;
    border-radius:12px;
    cursor:pointer;
    font-size:15px;
  }
  .btn:hover{
    background:#1558b0;
  }
  .extra{
    text-align:center;
    margin-top:14px;
    font-size:14px;
    color:#444;
  }
  .extra a{
    text-decoration:none;
    color:#1a73e8;
    font-weight:700;
  }