.com{
    max-width: 35%;
    position:relative;
    left: 35%;
    margin-top: 20px;
    border: 1px solid ;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 2px 2px 6px ;
    border-radius: 5px;
}
.com h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-radius: 6px;
}
textarea{
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
    
}
#btn{
    padding:12px;
    background:#1a73e8;
    border:none;
    font-size: 15px;
    border-color: white;
    border-radius: 4px;
    color: white;
}
#btn:hover{
    background:#1558b0;
    cursor: pointer;
}
  input:focus{
    outline: none;
    border-color: #1a73e8;
  }
  textarea:focus{
    outline: none;
    border-color: #1a73e8;
  }