    .box{
      width: 360px;
      margin: 60px auto;
      background:white;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    }
    h2{ 
        text-align:center; 
        color:#0d6efd;
     }
    input{
      width:100%;
      padding:10px;
      margin:8px 0;
      border:1px solid #ccc;
      border-radius:8px;
    }
    button{
      width:100%;
      padding:10px;
      background:#0d6efd;
      color:white;
      border:none;
      border-radius:8px;
      cursor:pointer;
      font-weight:bold;
    }
    button:hover{ 
        background:#084fc0;
     }

    .msg{
         text-align:center; 
         margin-top:10px; 
         color:red; 
        }
    
